* {
    box-sizing: border-box;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
}

#one{
    height: 100%;
    width: 40%;
    background-color: aquamarine;
}

#two{
    height: 100%;
    width: 60%;
    background-color: blue;
}
